<div class="body-container">
  <div class="intro-banner">
    <%= image_tag "Sand.png", alt: "Homepage Image", class: "intro-background", style: "object-fit: cover; top: 0; left: 0"  %>
    <h1 class="intro-h1">Not Your<br>Average<br>Software<br>Developer.</h1>
    <div class="arrow">
      <p class="arrow-txt">Scroll</p>
      <i class="fas fa-long-arrow-alt-down"></i>
    </div>
  </div>

  <div class="intro-about-me">
    <div class="container" id="intro-about-me-container" style="display: flex; align-items: center; justify-content: space-evenly;">
      <%= image_tag "Headshot-Portfolio.jpg", alt: "Elise Navarro", class: "avatar"%>
      <div class="about-me">
        <h2>HI, I'M ELISE.</h2>
        <p>
          I am a Denver based software developer skilled in designing, developing and testing multiple web-based application incorporating a range of technologies.
          <br>
          <br>
          I am a multifaceted developer with a strong analytical business background and hands-on technical experience with full-stack systems. I'm innately curious, empathic and open-minded. I'm a programmer who loves collaboration, problem solving and digging into the details.
          <br>
          <br>
          My interests include learning languages [programming & human], traveling, exploring the outdoors, teaching Pilates and building connections through technology and fitness.
        </p>
      </div>
     </div>
  </div>

  <div class="container">
    <div class="skills">
      <div class="skills-tools">
        <h2>SKILLS & TOOLS</h2>
      </div>
      <div class="skills-list">
        <div class="skills-front">
          <h4>Front-End</h4>
          <ul class="list-unstyled">
            <li><p>JavaScript</p></li>
            <li><p>React.js / Redux</p></li>
            <li><p>Next.js</p></li>
            <li><p>HTML / CSS / SASS</p></li>
            <li><p>Bootstrap</p></li>
            <li><p>AJAX & jQuery</p></li>
            <li><p>Wireframes</p></li>
            <li><p>UX/UI Design (Figma)</p></li>
          </ul>
        </div>
        <div class="skills-back">
          <h4>Back-End</h4>
          <ul class="list-unstyled">
            <li><p>Node.js</p></li>
            <li><p>Ruby on Rails</p></li>
            <li><p>RESTful API</p></li>
            <li><p>Web Scraping</p></li>
            <li><p>Version Control / Git</p></li>
            <li><p>Firebase DB</p></li>
            <li><p>PostgreSQL</p></li>
            <li><p>Cloud Platforms (Heroku)</p></li>
          </ul>
        </div>
        <div class="skills-product">
          <h4>Additional Skills</h4>
          <ul class="list-unstyled">
            <li><p>Data Analysis</p></li>
            <li><p>Product Management</p></li>
            <li><p>Digital Marketing Strategy</p></li>
            <li><p>Search Engine Optimization</p></li>
            <li><p>Agile Methodology</p></li>
            <li><p>Public Speaking & Teaching</p></li>
            <li><p>Spanish (Intermediate)</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="projects">
      <div class="projects-details">
        <h2>PRODUCTS</h2>
        <p class="p-projects"></p>
      </div>
      <div class="project-cards row">
        <% @projects.each do |project| %>
          <div class="column">
            <%= link_to project_path(project) do %>
            <div class="project-card">
              <%= image_tag project.image_gallery, alt: "Project image" %>
                <div class="project-card-txt">
                  <h3><%= project.title %></h3>
                  <p><%= project.tagline %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="contact-me">
      <h2>LET'S CONNECT</h2>
      <p>Interested in working together? Drop me a line.</p>
      <br>
      <form class="contact-form" accept-charset="utf-8" action="https://formspree.io/elise.marie.navarro@gmail.com" method="post">
          <div class="form-first-row">
            <input type="hidden" name="_subject" value="New Form Submission" />
            <label> Full Name
              <input type="text" name="name" class="form-field name-field">
            </label>
            <label> Email
              <input type="text" name="_replyto" class="form-field email-field">
            </label>
          </div>
          <br>
          <label class="d-flex"> Message
            <textarea name="message" class="form-field message-field"></textarea>
          </label>
          <br>
          <button type="submit" class="site-btn project-btn txt">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
