<% content_for :meta_title, "#{@project.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @project.description %>
<% content_for :meta_image, image_path(@project.image_gallery) %>

<div class="body-container">
  <div class="intro-banner">
    <%= image_tag (@project.image_gallery), alt: "Project Image", class: "intro-background", style: "object-fit: cover" %>
    <h1 class="intro-h1" id="project-intro-h1"><%= @project.title %></h1>
    <h3 class="welcome-txt"><%= @project.tagline %></h3>
    <div class="arrow">
      <p class="arrow-txt">Scroll</p>
      <i class="fas fa-long-arrow-alt-down"></i>
    </div>
  </div>

  <div class="project-info">
    <%= link_to :back do %>
      <div class="back-arrow">
        <i class="fas fa-long-arrow-alt-left"></i>
        <p class="txt">Back</p>
      </div>
    <% end %>
    <div class="container" id="project-container" style="display: flex">
      <div class="project-title">
        <h2>ABOUT</h2>
      </div>
      <div class="project-details">
        <p><%= @project.description %></p>
        <div class="project-links">
          <a target="_blank", href=<%= @project.site_url %> , class="txt project-btn site-btn">Visit Project</a>
          <a target="_blank", href=<%= @project.source_url %> , class="txt project-btn source-btn">View Source</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="image-gallery">
      <h2>GALLERY</h2>
      <div class="show-imgs row scrolling-wrapper-flexbox">
        <% @project_images.each do |image| %>
          <div class="column">
            <%= image_tag image.image_url, alt: "#", class: "show-img" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
